@import url("reset.css"); /* This is to reset all default browser CSS to none.*/
@font-face {
    font-family: 'pixelmixregular';
    src: url('../fonts/pixelmix-webfont.eot');
    src: url('../fonts/pixelmix-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pixelmix-webfont.woff2') format('woff2'),
         url('../fonts/pixelmix-webfont.woff') format('woff'),
         url('../fonts/pixelmix-webfont.ttf') format('truetype'),
         url('../fonts/pixelmix-webfont.svg#pixelmixregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----------------------------------------------*/
/*These are needed for the tab functionality and drag/drop functionality to work*/
.ui-tabs-hide 			{ visibility:hidden;}

.draggedout { visibility:visible; position:absolute;}

/*------------------------------------------------*/

/*General body styles. Change to your own colors! */
body {
font-family: 'pixelmixregular', sans-serif;
font-size: 1em;
background: #fff;
color: #666;
}

/* This specifies styles that will affect all the boxes. Change to your own colors!*/
#bodyArea, #swatchesArea, .ui-tabs-panel{
border: 2px solid #888;
background: #eee;
}

.ui-tabs-panel {
    position: absolute;
    width: 630px;
}

h1.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
    background: #eee;
    border: 2px solid #888;
    padding: 20px;
}

#tabsbar {
    margin-bottom: -2px;
    font-size: 0.9em;
}

/* NOTE: You can change the colors for the tabs further below . . . .*/

/*this puts rounded corners around the boxes*/
.ui-corner-all, .ui-tabs-panel{
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
}

.ui-tabs-panel {
      margin-bottom: 40px;
}

/* this puts rounded corners around the tabs*/
.ui-corner-top a{
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

#header {
    width: 90%;
    text-align: center;
    margin: 40px auto;
}

/*This div contains the whole dollmaker. It can be placed anywhere on the page and everything will follow
  Keep the height unspecified so that it can stretch to accomodate varied number of pieces */
#dollmaker_container {
/* position: absolute;
top: 30px;
left: 30px; */
width: 943px;
margin: 40px auto;
min-height: 750px;
}

@media screen and (max-width: 1070px) {
    #dollmaker_container {
        width: 843px;
    }
}

@media screen and (max-width: 970px) {
    #dollmaker_container {
        width: 743px;
    }
}

@media screen and (max-width: 770px) {
    #dollmaker_container {
        width: 90%;
    }
}

/*-------------------------------------------------------------------*/
/* The box that contains the basebody */
#bodyArea
{
/* position: absolute;
top: 0px;
width: 250px;
height: 270px;
text-align: center; */
float: left;
position: relative;
width: 250px;
height: 330px;
text-align: center;
}

/*#bodyArea img {position: absolute;}*/

/* Position of the base body elements*/
#skintone {margin: 40px 0 0 0;}

img.bg {position: absolute: left: 0; top: 0; z-index: 1;}

img.skintone {
    position: absolute; left: 50%; top: 50%; margin-left: -58px; margin-top: -128px; z-index: 2;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    display: block;
    clear: both;
    padding: 20px;
    margin-top: 100px;
    font-size: 0.6em;
}

/*-------------------------------------------------------------------*/
/* The area under the base that has links for skintones */
#swatchesArea { 
/* position: absolute; 
top: 270px;
width: 240px;
padding: 0px 5px; */
float: left;
clear: left;
width: 254px;
margin-top: -2px;
padding: 10px;
margin-bottom: 40px;
box-sizing: border-box;
}

/* individual links for thumbnails */
#swatchesArea a {
display: block;
float: left;
border: 1px solid #666;
margin: 2px 2px 7px 2px;
width: 20px;
height:20px;
position:relative;
}

#swatchesArea img {
	width: 20px;
	height: 20px;
}

/* the title of that area */
#swatchesArea h3 {
font-size: 12px;
font-weight: normal;
clear: both;
padding: 7px 0 5px 0;
}

/*-------------------------------------------------------------------*/

#left {
    float: left;
    width: 254px;
}

#right {
    width: 653px;
    float: left;
    padding-left: 36px;
}

@media screen and (max-width: 1070px) {
    #right {
        width: 553px;
        position: relative;
    }

    .ui-tabs-panel {
        width: 528px;
    }
}

@media screen and (max-width: 970px) {
    #right {
        width: 453px;
        position: relative;
    }

    .ui-tabs-panel {
        width: 428px;
    }

    #tabsbar {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 770px) {
    #left, #right {
        float: none;
        clear: both;
        margin: 0 auto;
    }

    #left {
        margin-bottom: 40px;
        overflow: hidden;
    }

    #right {
        padding-left: 0px;
    }
}

@media screen and (max-width: 525px) {
    #right, .ui-tabs-panel, #tabsbar {
        width: 300px;
    }

    .ui-tabs-panel, #tabsbar {
        right: 0;
        margin-left: -150px;
    }

    #tabsbar {
        margin-left: -20px;
    }

    #tabsbar li a {
        font-size: 0.56em;
    }
}

@media screen and (max-width: 400px) {
    #right, .ui-tabs-panel, #tabsbar {
        width: 250px;
        box-sizing: border-box;
    }

    #left {
        margin-bottom: -20px;
    }

    .ui-tabs-panel, #tabsbar {
        margin: 0 auto;
    }

     #tabsbar li a {
        padding: 3px 3px 4px; 
    }

    #tabsbar li a {
        font-size: 0.3em;
    }
}


/*The tabbed area at the right that contains all the draggable pieces*/
#piecesArea {
/* position: absolute; 
left: 275px; */
}

/*Positioning for tabs area*/
#tabsbar {
text-align: left; 
padding: 5px 10px 5px 10px; /* This extra space is required for browser compatibility */
}


/*Allows the tabs to be next to eachother*/
#tabsbar li{
display: inline;
}

/*Individual tabs. Change to your own colors!*/
#tabsbar li a {
/* !!!!!IE7 */ padding: 3px 10px 4px; 
border: 2px solid #888; 
background-color: #ddd; 
color: #666; 
text-decoration: none;
font-weight:normal;
}

/*Selected tab. Change to your own colors!*/
#tabsbar .ui-state-active a {
border-bottom: 2px solid #eee;
background-color: #eee; /* This needs to be the the same as the background color of the panel.*/
position:relative;
z-index:2;
}

/*-------------------------------------------------------------------*/
/* The panel under the tabs that contain the props*/
.ui-tabs-panel{ 
overflow:visible; /* so that the panel extends as you add pieces to it*/
clear:both;
padding:5px;
}

#piecesArea div {
padding: 10px 10px 0;
}


#piecesArea img{
margin: 0 10px 10px 0;
cursor: move;
}

/*-------------------------------------------------------------------*/
/* Anti Right-click */
#anti-rightclick {
display:none;
width: 170px;
height:  30px;
line-height: 1.2;
background: #fff;
border: 1px solid #ccc;
padding: 3px 3px 3px 15px;

position: absolute;
z-index: 9999;
}

